{
    email {{ caddy_acme_email }}
    http_port {{ caddy_https_port }}
}

{{ caddy_hostname }}:{{ caddy_https_port }} {
    log {
        output file {{ caddy_log_dir }}/caddy.access.log {
            roll_size 10MB
            roll_keep 5
        }
    }

    reverse_proxy localhost:{{ litellm_port }}
}
