<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>homebrew.mxcl.caddy</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ caddy_data_dir }}</string>
        <key>XDG_DATA_HOME</key>
        <string>{{ caddy_data_dir }}</string>
        <key>CADDY_DNS_API_TOKEN</key>
        <string>{{ lookup('env', 'CADDY_DNS_API_TOKEN') | default('MISSING_TOKEN', true) }}</string>
    </dict>

    <key>KeepAlive</key>
    <true/>

    <key>LimitLoadToSessionType</key>
    <array>
        <string>Aqua</string>
        <string>Background</string>
        <string>LoginWindow</string>
        <string>StandardIO</string>
        <string>System</string>
    </array>

    <key>ProgramArguments</key>
    <array>
        <string>{{ caddy_bin_path }}</string>
        <string>run</string>
        <string>--config</string>
        <string>{{ caddy_config_dir }}/Caddyfile</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>{{ caddy_log_dir }}/caddy.log</string>

    <key>StandardOutPath</key>
    <string>{{ caddy_log_dir }}/caddy.log</string>
</dict>
</plist>
