---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: jellyseerr

helmCharts:
  - name: jellyseerr-chart
    releaseName: jellyseerr
    repo: oci://ghcr.io/fallenbagel/jellyseerr
    version: 2.7.0
    valuesFile: jellyseerr.helmvalues/default.yaml
    additionalValuesFiles:
      - jellyseerr.helmvalues/hardened.yaml

labels:
  - pairs:
      app.kubernetes.io/name: jellyseerr
    includeTemplates: true
    includeSelectors: true
  - pairs:
      app.kubernetes.io/instance: jellyseerr
    includeTemplates: true
    includeSelectors: true
  - pairs:
      # renovate: datasource=docker depName=ghcr.io/fallenbagel/jellyseerr
      app.kubernetes.io/version: 2.7.3
    includeTemplates: true

resources:
  - security/

  - jellyseerr.httproute.yaml
  - jellyseerr.postgresql-backup.yaml
  - jellyseerr.postgresql-objectstore.yaml
  - jellyseerr.postgresql.yaml

images:
  # renovate: datasource=docker depName=ghcr.io/fallenbagel/jellyseerr
  - name: ghcr.io/fallenbagel/jellyseerr
    newTag: 2.7.3@sha256:9cc9e9ee6cd5cf5a23feb45c37742ba34cfd6314d81d259cddb373a97ac92cdd
