---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pocket-id

labels:
  - pairs:
      app.kubernetes.io/name: pocket-id
    includeTemplates: true
    includeSelectors: true
  - pairs:
      app.kubernetes.io/instance: pocket-id
    includeTemplates: true
    includeSelectors: true
  - pairs:
      # renovate: datasource=docker depName=ghcr.io/pocket-id/pocket-id
      app.kubernetes.io/version: v1.14.2-distroless
    includeTemplates: true

resources:
  - pocket-id-public.httproute.yaml
  - pocket-id.externalsecret.yaml
  - pocket-id.httproute.yaml
  - pocket-id.postgresql.yaml
  - pocket-id.postgresql-backup.yaml
  - pocket-id.postgresql-objectstore.yaml
  - pocket-id.statefulset.yaml
  - security/

images:
  # renovate: datasource=docker depName=ghcr.io/pocket-id/pocket-id
  - name: ghcr.io/pocket-id/pocket-id
    newTag: v1.14.2-distroless@sha256:1eea2fa6b8ebe3f2a84733ee78fd983091803a83a36a5666c0f0d3ea80032189
