---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: pocket-id

labels:
  - pairs:
      app.kubernetes.io/name: pocket-id
    includeTemplates: true
    includeSelectors: true
  - pairs:
      app.kubernetes.io/instance: pocket-id
    includeTemplates: true
    includeSelectors: true
  - pairs:
      # renovate: datasource=docker depName=ghcr.io/pocket-id/pocket-id
      app.kubernetes.io/version: v1.16.0-distroless
    includeTemplates: true

resources:
  - pocket-id-public.httproute.yaml
  - pocket-id.externalsecret.yaml
  - pocket-id.httproute.yaml
  - pocket-id.postgresql.yaml
  - pocket-id.postgresql-backup.yaml
  - pocket-id.postgresql-objectstore.yaml
  - pocket-id.statefulset.yaml
  - security/
