source_up_if_exists

# add all scripts to the user path
PATH_add ${PWD}/scripts

# custom MAN pages
MANPATH_add ${PWD}/vendor/github.com/elasticdog/transcrypt/man

# add GOSS_PATH based on ASDF reshim
export GOSS_PATH=$(asdf which goss)
