# Created by https://www.toptal.com/developers/gitignore/api/direnv,dotenv,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=direnv,dotenv,visualstudiocode

### direnv ###
.direnv
.envrc

### dotenv ###
.env

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/direnv,dotenv,visualstudiocode

# Ignore unencrypted kvstore
projects/chezmoi.sh/src/kubevault/kvstore/
projects/chezmoi.sh/src/kubevault/kvstore.enc.bak/
