# Created by https://www.toptal.com/developers/gitignore/api/direnv,dotenv,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=direnv,dotenv,visualstudiocode

### direnv ###
.direnv
.envrc

### dotenv ###
.env

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/direnv,dotenv,visualstudiocode

# Ignore all charts imported by kustomize
catalog/kustomize/**/charts/
projects/*/src/**/charts/

# Ignore all .cache directories
.cache/

# Ignore .mise folder
.mise/

# Ignore all Nix result files and directories
catalog/**/result

# pre-commit
.pre-commit-config.yaml

# Ignore all unencrypted files
**/.decrypted~*.yaml
**/*.UNSAFE.yaml

# Ignore ansible outputs
projects/chezmoi.sh/src/infrastructure/ansible/output/
