#pattern  filter=crypt diff=crypt merge=crypt

# Encrypt all sensitive configuration files
apps/images/alpine/*/config/*       filter=crypt diff=crypt merge=crypt
infrastructure/live/*/config/*      filter=crypt diff=crypt merge=crypt
infrastructure/live/*/config/**/*   filter=crypt diff=crypt merge=crypt
