cargo:git-absorb              latest
direnv                        latest
jq                            latest
kind                          latest
kubectl                       latest
lefthook                      latest
npm:@commitlint/cli           19.3.0
npm:@commitlint/cz-commitlint 19.2.0
npm:@trunkio/launcher         1.3.1
npm:commitizen                4.3.0
pulumi                        3.121.0
trivy                         latest
yq                            latest
