@charset "UTF-8";

/* Catppuccin theme for Homer */
/* This theme is based on the Catppuccino theme for Homer, but with a simpler color scheme. */

#app.theme-default {
  --catppuccin-font-family: "Raleway", sans-serif;

  --card-background: var(--catppuccin-base) !important;
  --highlight-hover: var(--catppuccin-base) !important;
  --highlight-primary: transparent !important;
  --highlight-secondary: var(--catppuccin-base) !important;
  --link-hover: var(--catppuccin-text) !important;
  --link: var(--catppuccin-text) !important;
}

#app.theme-default.is-light {
  --catppuccin-base: #fafafa;
  --catppuccin-surface0: #f2f2f2;
  --catppuccin-surface1: #dadada;
  --catppuccin-surface2: #ccd0da;
}

#app.theme-default.is-dark {
  --catppuccin-base: #303446;
  --catppuccin-surface0: #414559;
  --catppuccin-surface1: #51576d;
  --catppuccin-surface2: #626880;
}

#app.theme-default #bighead {
  background-image: none !important;
}

#app.theme-default .navbar-menu {
  box-shadow: none;
}

#app.theme-default .navbar-start i,
#app.theme-default .navbar-end i {
  color: var(--catppuccin-text) !important;
}

#app.theme-default .search-bar input {
  outline: 1px solid var(--catppuccin-surface1);
}

#app.theme-default .search-bar input:focus-visible {
  outline: 1px solid var(--catppuccin-surface0);
  background-color: var(--catppuccin-surface0) !important;
}

#app.theme-default .search-bar .search-label:before {
  color: var(--catppuccin-text) !important;
  cursor: text;
}

#app.theme-default .card {
  outline: 1px solid var(--catppuccin-base);
  transition: 0.2s;
  box-shadow: none;
}

#app.theme-default .card:hover {
  background-color: var(--catppuccin-surface0) !important;
  transform: none;
  outline: 1px solid var(--catppuccin-surface1) !important;
  outline-offset: 3px;
  z-index: 10000;
}

#app.theme-default .column:hover .card {
  outline: 1px solid var(--catppuccin-surface0);
}

body #bighead .navbar a {
  font-family: var(--catppuccin-font-family);
}

body #app .title {
  font-family: var(--catppuccin-font-family);
}

/* Special configuration to add the search bar */
#app.theme-default .message {
  box-shadow: none;
}

#app.theme-default .message-header {
  display: none;
  visibility: hidden;
}

#app.theme-default .message-body {
  padding: 0;
}

#app.theme-default .message form.search-box {
  margin: auto;
  width: 85%;
}

#app.theme-default .message form.search-box input {
  background-color: var(--catppuccin-base);
  border-radius: 5px;
  border: 0;
  border: 1px solid var(--catppuccin-surface2);
  color: var(--catppuccin-text);
  font-size: larger;
  height: 40px;
  padding-left: 30px;
  width: 100%;
}

#app.theme-default .message form.search-box input:focus-visible {
  outline: 0;
}

#app.theme-default .message form.search-box .fa-google {
  font-size: 16px;
  margin: 13px 7px 0px;
  position: absolute;
}

/* Disable search-box on small screen */
@media screen and (max-width: 1023px) {
  #app.theme-default .message {
    display: none;
    visibility: hidden;
  }
}
