---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: n8n

labels:
  - pairs:
      # renovate: datasource=docker depName=ghcr.io/n8n-io/n8n
      app.kubernetes.io/version: 1.123.7

resources:
  # Configuration
  - n8n.configmap.yaml

  # n8n application
  - n8n-main.deployment.yaml
  - n8n-worker.deployment.yaml

  # Database
  - n8n.postgresql.yaml
  - n8n.postgresql-backup.yaml
  - n8n.postgresql-objectstore.yaml

  # Redis queue
  - n8n.redis-statefulset.yaml
  - n8n.redis-service.yaml

  # External secrets
  - n8n.externalsecret-encryption-key.yaml

  # HTTPRoute for ingress
  - n8n.httproute.yaml

  # Security policies
  - security/

images:
  # renovate: datasource=docker depName=ghcr.io/n8n-io/n8n
  - name: ghcr.io/n8n-io/n8n
    newTag: 1.123.7@sha256:a2e1a0adbe39f110f6fe7b9cc53c0a872adf3b023be3e3d89afd15da777bd85c
  # renovate: datasource=docker depName=docker.io/library/redis
  - name: docker.io/library/redis
    newTag: 8.4.0-alpine
