apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  # OpenWebUI official Helm chart
  - name: open-webui
    releaseName: open-webui
    repo: https://helm.openwebui.com
    version: 12.0.1
    valuesFile: open-webui.helmvalues/default.yaml

resources:
  - open-webui.configuration.externalsecret.yaml
  - open-webui.httproute.yaml

labels:
  - pairs:
      app.kubernetes.io/name: open-webui
      app.kubernetes.io/instance: open-webui
    includeTemplates: true
    includeSelectors: true

images:
  # renovate: datasource=docker depName=ghcr.io/open-webui/open-webui
  - name: ghcr.io/open-webui/open-webui
    newTag: v0.8.0@sha256:205e9cf23b66553643b065afcdeffb7f86b35bf36e0ce643dc56946a911954b7
