---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: longhorn
spec:
  data:
    - secretKey: AWS_ENDPOINTS
      remoteRef:
        key: amiya.akn/longhorn/third-parties/minio
        property: endpoint_url
    - secretKey: AWS_REGION
      remoteRef:
        key: amiya.akn/longhorn/third-parties/minio
        property: region
    - secretKey: AWS_ACCESS_KEY_ID
      remoteRef:
        key: amiya.akn/longhorn/third-parties/minio
        property: access_key_id
    - secretKey: AWS_SECRET_ACCESS_KEY
      remoteRef:
        key: amiya.akn/longhorn/third-parties/minio
        property: secret_access_key
  dataFrom:
    - extract:
        key: amiya.akn/longhorn/third-parties/minio
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault.chezmoi.sh
  target:
    name: longhorn-backup-credentials
