---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich

labels:
  - pairs:
      app.kubernetes.io/name: immich
    includeTemplates: true
  - pairs:
      app.kubernetes.io/instance: immich
    includeTemplates: true
    includeSelectors: true
  - pairs:
      # renovate: datasource=docker depName=ghcr.io/immich-app/immich-server
      app.kubernetes.io/version: v2.2.3
    includeTemplates: true

resources:
  - immich.configuration.externalsecret.yaml
  - immich.httproute.yaml
  - immich.postgresql-backup.yaml
  - immich.postgresql-objectstore.yaml
  - immich.postgresql.yaml
  - immich.redis.yaml
  - immich.server.yaml
  - immich.smb-storage.yaml

  - security/

images:
  # renovate: datasource=docker depName=ghcr.io/immich-app/immich-server
  - name: ghcr.io/immich-app/immich-server
    newTag: "v2.2.3"
  # renovate: datasource=docker depName=docker.io/library/redis
  - name: docker.io/library/redis
    newTag: 8.4.0-alpine@sha256:eb37f58646a901dc7727cf448cae36daaefaba79de33b5058dab79aa4c04aefb
  # renovate: datasource=docker depName=ghcr.io/tensorchord/pgvecto-rs
  - name: ghcr.io/tensorchord/pgvecto-rs
    newTag: pg14-v0.3.0-rootless@sha256:23ac462edc9eba6df7df92d447780950aa20a34ba4a9c11c0f4ddab3a30a64b1
