---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: litellm
  labels:
    app.kubernetes.io/component: proxy
    app.kubernetes.io/instance: litellm
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: proxy
      app.kubernetes.io/instance: litellm
  template:
    metadata:
      labels:
        app.kubernetes.io/component: proxy
        app.kubernetes.io/instance: litellm
    spec:
      terminationGracePeriodSeconds: 90
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: proxy
          image: ghcr.io/berriai/litellm-database
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 4000
          envFrom:
            - configMapRef:
                name: litellm-config
            - secretRef:
                name: litellm-credentials
          volumeMounts:
            - name: proxy-config
              mountPath: /app/config.yaml
              subPath: config.yaml
              readOnly: true
          args:
            - "--config"
            - "/app/config.yaml"
            - "--port"
            - "4000"
          resources:
            requests:
              memory: "512Mi"
              cpu: "10m"
            limits:
              memory: "512Mi"
          livenessProbe:
            httpGet:
              path: /health/liveliness
              port: http
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health/readiness
              port: http
            initialDelaySeconds: 0
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: /health/readiness
              port: http
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 30
      volumes:
        - name: proxy-config
          configMap:
            name: litellm-proxy-config
---
apiVersion: v1
kind: Service
metadata:
  name: litellm
  labels:
    app.kubernetes.io/component: proxy
    app.kubernetes.io/instance: litellm
  annotations:
    link.argocd.argoproj.io/external-link: https://llm.chezmoi.sh
spec:
  selector:
    app.kubernetes.io/component: proxy
    app.kubernetes.io/instance: litellm
  ports:
    - protocol: TCP
      port: 4000
      targetPort: http
