---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Required modules
  - ../../../../../catalog/crossplane/domainidentity.amazonses.chezmoi.sh
  - ../../../../../catalog/crossplane/clustervault.vault.chezmoi.sh

  # Crossplane global configuration
  - functions.yaml
  - runtimeconfigs.yaml

  # Crossplane provider configuration
  - providers/aws/default.providerconfig.yaml
  - providers/aws/provider.yaml
  - providers/cloudflare/default.providerconfig.yaml
  - providers/cloudflare/provider.yaml
  - providers/terraform/cloudflare.providerconfig.yaml
  - providers/terraform/default.providerconfig.yaml
  - providers/terraform/kazimierz.providerconfig.yaml
  - providers/terraform/provider.yaml
  - providers/terraform/tailscale.providerconfig.yaml
  - providers/vault/default.providerconfig.yaml
  - providers/vault/provider.yaml

  # Cloudflare resources
  - cloudflare.iam.terraform-provider.yaml

  # AWS resources
  - aws.domainidentity.yaml

patches:
  - # NOTE: Crossplane API extensions must be applied before applying the resources
    patch: |
      - op: add
        path: /metadata/annotations/argocd.argoproj.io~1sync-wave
        value: "-1"
    target:
      group: apiextensions.crossplane.io

generators:
  - # Cloudflare resources need to provide the external-name annotation,
    # which is encrypted.
    |-
    apiVersion: viaduct.ai/v1
    kind: ksops
    metadata:
      name: crossplane-external-name
      annotations:
        config.kubernetes.io/function: |
          exec:
            path: ksops
    files:
      - cloudflare.zone.yaml
