---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system

resources:
  # Plugin required for Tailscale to access TUN/TAP interfaces
  - ../../../../../../catalog/kustomize/tun-device-plugin
