---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: vault

labels:
  - pairs:
      app.kubernetes.io/name: vault
    includeTemplates: true
    includeSelectors: true

resources:
  - openbao-config.externalsecret.yaml
  - openbao.httproute.yaml
  - openbao.ingress.yaml
  - openbao.postgresql-backup.yaml
  - openbao.postgresql-objectstore.yaml
  - openbao.postgresql.yaml
  - openbao.secretstore.yaml

generators:
  - |-
    apiVersion: viaduct.ai/v1
    kind: ksops
    metadata:
      name: sopsed-secrets-generator
      annotations:
        config.kubernetes.io/function: |
          exec:
            path: ksops
    files:
      - cnpg.backup-credentials.secret.yaml
      - openbao-softhsm-tokens.secret.yaml
      - openbao-database-credentials.secret.yaml

helmCharts:
  - name: openbao
    repo: https://openbao.github.io/openbao-helm
    releaseName: openbao
    version: 0.25.4
    valuesFile: openbao.helmvalues/default.yaml

patches:
  - patch: |
      # Use the configuration generated by ESO with some secrets mounted
      - op: replace
        path: /spec/template/spec/volumes/0
        value:
          name: config
          secret:
            defaultMode: 420
            secretName: openbao-config

      # Add the HSM secrets volume containing the tokens
      - op: add
        path: /spec/template/spec/volumes/-
        value:
          name: hsm-secrets
          secret:
            defaultMode: 420
            secretName: openbao-softhsm-tokens
      - op: add
        path: /spec/template/spec/containers/0/volumeMounts/-
        value:
          name: hsm-secrets
          mountPath: /run/secrets/softhsm2
          readOnly: true

      # Add the HSM writable volume where the tokens will be written to
      - op: add
        path: /spec/template/spec/volumes/-
        value:
          name: hsm-writable
          emptyDir:
            medium: Memory
            sizeLimit: 1Mi
      - op: add
        path: /spec/template/spec/containers/0/volumeMounts/-
        value:
          name: hsm-writable
          mountPath: /run/secrets/openbao/pkcs11
    target:
      kind: StatefulSet
      name: openbao
