---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: paperless-ngx

labels:
  - pairs:
      app.kubernetes.io/name: paperless-ngx
    includeTemplates: true
    includeSelectors: true
  - pairs:
      app.kubernetes.io/instance: paperless-ngx
    includeTemplates: true
    includeSelectors: true
  - pairs:
      # renovate: datasource=docker depName=ghcr.io/paperless-ngx/paperless-ngx
      app.kubernetes.io/version: 2.19.5
    includeTemplates: true

resources:
  - paperless-ngx.configuration.externalsecret.yaml
  - paperless-ngx.httproute.yaml
  - paperless-ngx.postgresql-backup.yaml
  - paperless-ngx.postgresql-objectstore.yaml
  - paperless-ngx.postgresql.yaml
  - paperless-ngx.redis.yaml
  - paperless-ngx.smb-storage.yaml
  - paperless-ngx.statefulset.yaml

  - security/

images:
  # renovate: datasource=docker depName=ghcr.io/paperless-ngx/paperless-ngx
  - name: ghcr.io/paperless-ngx/paperless-ngx
    newTag: 2.19.5@sha256:5f2a72fd7be42c6b1d8fa1751606a140452d4c3e6e829ae6b1b15e3c95129481
  # renovate: datasource=docker depName=docker.io/library/redis
  - name: docker.io/library/redis
    newTag: 8.2.3-alpine@sha256:28c9c4d7596949a24b183eaaab6455f8e5d55ecbf72d02ff5e2c17fe72671d31
