---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: paperless-ngx

labels:
  - pairs:
      app.kubernetes.io/name: paperless-ngx
      app.kubernetes.io/instance: paperless-ngx
    includeTemplates: true
    includeSelectors: true

resources:
  - paperless-ngx.configuration.externalsecret.yaml
  - paperless-ngx.httproute.yaml
  - paperless-ngx.postgresql-backup.yaml
  - paperless-ngx.postgresql-objectstore.yaml
  - paperless-ngx.postgresql.yaml
  - paperless-ngx.redis.yaml
  - paperless-ngx.smb-storage.yaml
  - paperless-ngx.statefulset.yaml

  - security/

images:
  # renovate: datasource=docker depName=ghcr.io/paperless-ngx/paperless-ngx
  - name: ghcr.io/paperless-ngx/paperless-ngx
    newTag: 2.20.5@sha256:665f2f5cc5482ea2e44f90a7fa170908aaeb95d8d3c70e17f746de8fcb81f644
  # renovate: datasource=docker depName=docker.io/library/redis
  - name: docker.io/library/redis
    newTag: 8.4.0-alpine@sha256:4eec4565e45aa0b3966554c866bc73211e281b0b3d89fe9a33c982e6faca809d
