---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: paperless-ngx

labels:
  - pairs:
      app.kubernetes.io/name: paperless-ngx
    includeTemplates: true
    includeSelectors: true
  - pairs:
      app.kubernetes.io/instance: paperless-ngx
    includeTemplates: true
    includeSelectors: true
  - pairs:
      # renovate: datasource=docker depName=ghcr.io/paperless-ngx/paperless-ngx
      app.kubernetes.io/version: 2.20.4
    includeTemplates: true

resources:
  - paperless-ngx.configuration.externalsecret.yaml
  - paperless-ngx.httproute.yaml
  - paperless-ngx.postgresql-backup.yaml
  - paperless-ngx.postgresql-objectstore.yaml
  - paperless-ngx.postgresql.yaml
  - paperless-ngx.redis.yaml
  - paperless-ngx.smb-storage.yaml
  - paperless-ngx.statefulset.yaml

  - security/

images:
  # renovate: datasource=docker depName=ghcr.io/paperless-ngx/paperless-ngx
  - name: ghcr.io/paperless-ngx/paperless-ngx
    newTag: 2.20.4@sha256:06ca6a6c2a21cfebcc7c5f2e0d38f892dba4bcb090b8781a55d003c63cce386a
  # renovate: datasource=docker depName=docker.io/library/redis
  - name: docker.io/library/redis
    newTag: 8.4.0-alpine@sha256:6cbef353e480a8a6e7f10ec545f13d7d3fa85a212cdcc5ffaf5a1c818b9d3798
