---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mealie-credentials
spec:
  data:
    - extract:
        key: lungmen.akn/mealie/database/postgresql
      rewrite:
        - regexp:
            source: "^(.*)$"
            target: "postgres_$1"
    - extract:
        key: lungmen.akn/mealie/auth/oidc-client
      rewrite:
        - regexp:
            source: "^(.*)$"
            target: "oidc_$1"
    - extract:
        key: lungmen.akn/mealie/smtp/mailjet
      rewrite:
        - regexp:
            source: "^(.*)$"
            target: "smtp_$1"
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault.chezmoi.sh
  target:
    name: mealie-credentials
    template:
      engineVersion: v2
      data:
        # Database
        postgresql.url: "postgres://mealie:{{ .postgres_password }}@postgres-apps.databases.svc.cluster.local:5432/mealie"
        # OIDC
        oidc.client_id: "{{ .oidc_client_id }}"
        oidc.client_secret: "{{ .oidc_client_secret }}"
        # SMTP
        smtp.host: "{{ .smtp_host }}"
        smtp.port: "{{ .smtp_port }}"
        smtp.user: "{{ .smtp_username }}"
        smtp.password: "{{ .smtp_password }}"
