---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mealie-credentials
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault.chezmoi.sh
  target:
    name: mealie-credentials
    template:
      engineVersion: v2
      data:
        # Database
        POSTGRES_PASSWORD: "{{ .db_password }}"
        # OIDC
        OIDC_CLIENT_ID: "{{ .oidc_client_id }}"
        OIDC_CLIENT_SECRET: "{{ .oidc_client_secret }}"
        API_TOKEN: "{{ .api_token }}"
  data:
    - secretKey: db_password
      remoteRef:
        key: lungmen.akn/mealie/database/postgresql
        property: password
    - secretKey: oidc_client_id
      remoteRef:
        key: lungmen.akn/mealie/auth/oidc-client
        property: client_id
    - secretKey: oidc_client_secret
      remoteRef:
        key: lungmen.akn/mealie/auth/oidc-client
        property: client_secret
