---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie
spec:
  revisionHistoryLimit: 3
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: mealie
      app.kubernetes.io/instance: mealie
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mealie
        app.kubernetes.io/instance: mealie
    spec:
      containers:
        - name: mealie
          image: ghcr.io/mealie-recipes/mealie:v2.6.0
          imagePullPolicy: IfNotPresent
          env:
            - name: ALLOW_SIGNUP
              value: "false"
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: Europe/Paris
            - name: BASE_URL
              value: https://miam.chezmoi.sh
            
            # Database Configuration
            - name: DB_ENGINE
              value: postgres
            - name: POSTGRES_USER
              value: mealie
            - name: POSTGRES_DB
              value: mealie
            - name: POSTGRES_SERVER
              value: shared-rw.databases.svc
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mealie-credentials
                  key: POSTGRES_PASSWORD

            # OIDC Configuration
            - name: OIDC_AUTH_ENABLED
              value: "true"
            - name: OIDC_CONFIGURATION_URL
              value: https://auth.chezmoi.sh/.well-known/openid-configuration
            - name: OIDC_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: mealie-credentials
                  key: OIDC_CLIENT_ID
            - name: OIDC_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: mealie-credentials
                  key: OIDC_CLIENT_SECRET
            - name: OIDC_SHOW_LOGIN_FORM
              value: "false"
            - name: OIDC_REMEMBER_ME
              value: "true"
            - name: OIDC_SignUp
              value: "true"
            - name: OIDC_USER_GROUP
              value: "user"
            - name: OIDC_ADMIN_GROUP
              value: "admin"

            # Ollama Configuration
            - name: OLLAMA_BASE_URL
              value: http://192.168.10.30:11434
          
          ports:
            - name: http
              containerPort: 9000
              protocol: TCP
          
          resources:
            requests:
              cpu: 10m
              memory: 256Mi
            limits:
              memory: 1Gi
          
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 5
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
