---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: operator-oauth
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault.chezmoi.sh
  target:
    name: operator-oauth
  data:
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: shared/data/third-parties/tailscale/oauth/amiya.akn
        metadataPolicy: None
        property: client_id
      secretKey: client_id
    - remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: shared/data/third-parties/tailscale/oauth/amiya.akn
        metadataPolicy: None
        property: client_secret
      secretKey: client_secret
