---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: sso

labels:
  - pairs:
      app.kubernetes.io/part-of: sso
    includeTemplates: true

resources:
  - authelia
  - yaldap
