<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>sh.chezmoi.shodan.litellm</string>

    <key>UserName</key>
    <string>{{ lookup('env', 'USER') }}</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{ litellm_venv_dir }}/bin/litellm</string>
        <string>--config</string>
        <string>{{ litellm_config_dir }}/config.yaml</string>
        <string>--port</string>
        <string>{{ litellm_port }}</string>
        <string>--host</string>
        <string>{{ litellm_host }}</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{ litellm_venv_dir }}/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
{% for key, value in litellm_environment_variables.items() %}
        <key>{{ key }}</key>
        <string>{{ value }}</string>
{% endfor %}
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>{{ litellm_log_dir }}/litellm.err.log</string>

    <key>StandardOutPath</key>
    <string>{{ litellm_log_dir }}/litellm.out.log</string>

    <key>WorkingDirectory</key>
    <string>{{ litellm_install_dir }}</string>
</dict>
</plist>
