---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: atuin

labels:
  - pairs:
      app.kubernetes.io/name: atuin
      app.kubernetes.io/instance: atuin
    includeTemplates: true
    includeSelectors: true

resources:
  - atuin.deployment.yaml
  - atuin.httproute.yaml
  - atuin.ingress.yaml
  - atuin.postgresql-backup.yaml
  - atuin.postgresql-objectstore.yaml
  - atuin.postgresql.yaml
  - atuin.storage.yaml

  - security/

images:
  # renovate: datasource=docker depName=ghcr.io/atuinsh/atuin
  - name: ghcr.io/atuinsh/atuin
    newTag: v18.11.0@sha256:18dba8938704706806d3c1133629ff2658c08bfa7815d71a916a8f072b61945b
