---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

labels:
  - pairs:
      # renovate: datasource=helm depName=argo-cd registryUrl=https://argoproj.github.io/argo-helm
      app.kubernetes.io/version: 9.1.3
    includeTemplates: true

resources:
  # Configure ArgoCD
  - argocd.appprojects.yaml
  - argocd.github-secrets.externalsecret.yaml
  - argocd.httproute.yaml
  - argocd.ingress.yaml
  - argocd.oidc-credentials.externalsecret.yaml
  - argocd.sops-secrets.externalsecret.yaml
  - argocd.ts-secrets.externalsecret.yaml

  # Install Argotails that manages all Tailscale clusters
  # secrets based on Tailscale's devices
  - https://github.com/chezmoidotsh/argotails.git//deploy/manifests/default?ref=v0.1.12
  - argotails.ts-secrets.externalsecret.yaml

helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    releaseName: argocd
    version: 9.1.3
    valuesFile: argocd.helmvalues/default.yaml
    additionalValuesFiles:
      - argocd.helmvalues/hardened.yaml
      - argocd.helmvalues/extensions.yaml
      - argocd.helmvalues/addon:crossplane.yaml
      - argocd.helmvalues/addon:ksops.yaml
      - argocd.helmvalues/addon:tailscale.yaml

patches:
  - patch: |
      - op: replace
        path: /spec/template/spec/containers/0/args/2
        value: --ts.device-filter=kubernetes-remote-cluster
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: tail831c5d.ts.net
    target:
      name: argotails
      kind: Deployment

  - # Configure Argotails to create a Tailscale service for
    # each remote cluster
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --service.create
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --service.proxy-class=remote-cluster
    target:
      name: argotails
      kind: Deployment
